.app {
  text-align: center;
  border: 1px solid black;
  width: 50%;
  margin: 10px auto;
  background-color: #ccc;
}

button {
  width: 100px;
  text-transform: uppercase;
  padding: 10px 0px;
  cursor: pointer;
}

h2 span {
  color: red;
}